* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    
}

body {
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    height: 100dvh;
    margin: 0 auto;
}

h2 {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #1a1a1a;
}

.grid-wrapper {
    display: inline-block;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 4px;
    border-radius: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto repeat(10, 1fr);
    gap: 0;
}

.cell {
    border: 1px solid #d1d5db;
    padding: 0.75rem 1rem;
    text-align: center;
    border-radius: 4px;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-cell {
    background-color: #f3f4f6;
    font-weight: 600;
    color: #374151;
}

.header-cell:first-child {
  width: 100%;
}

.row-header {
    background-color: #f3f4f6;
    font-weight: bold;
    color: #1f2937;
    text-align: right;
    justify-content: flex-end;
    width: auto;
    min-width: 4rem;
}

.data-cell {
    background-color: white;
    color: #1f2937;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.data-cell:hover {
    background-color: #f9fafb;
}

.data-cell.active {
    background-color: #9ca3af;
    color: white;
}
